<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>Privacy policy</h3>
          The data we collect about you
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>Definitions</h3>
          We may collect, use, store and transfer the following different kinds of personal data about you:
          <ion-list>
            <ion-item>
              <ion-label>Information you provide to us: We receive and store the information you provide to us including your identity data, contact data, delivery address and financial data.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Information on your use of our website and/or mobile applications: We automatically collect and store certain types of information regarding your use of the Jumia marketplace including information about your searches, views, downloads and purchases.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Information from third parties and publicly available sources: We may receive information about you from third parties including our carriers; payment service providers; merchants/brands; and advertising service providers.
              </ion-label>
            </ion-item>
  
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>