<ion-header>
  <ion-toolbar>
    <ion-title>Terms and Conditions</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>Terms and Conditions</h3>
          Please carefully read the terms and conditions ("Terms and Conditions") before using this app<br>
          By using this service, whereas it is by phone, through our mobile applications or by any other available channel, you agree to be bound by these Terms and Conditions.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>Definitions</h3>
          <ion-list>
            <ion-item>
              <ion-label>2.1. "Agreement" references these Terms and Conditions (T&Cs), the Privacy Policy, any payment instructions provided to you and any other form we might provide to you;</ion-label>
            </ion-item>
            <ion-item>
              <ion-label> 2.2. By "Privacy Policy" we mean the policy accessible on our Website which details how we collect and store your personal data;</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>2.3. "you", "your" and "yours" are references to you, the person accessing this Website, and placing the orders for the Goods or Services we display on it. Access through any other channel provided by Jumia Food will also bound you to these Terms and Conditions;</ion-label>
            </ion-item>
            <ion-item>
              <ion-label> 2.5. "Goods" is a reference to any goods which we may offer for sale from our Website from at a given time;</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>2.5. "Goods" is a reference to any goods which we may offer for sale from our Website from at a given time;</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
