<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="preference">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>Preference</ion-label>
     
    </ion-tab-button>

  

    <ion-tab-button tab="connect">
      <ion-icon name="map"></ion-icon>
      <ion-label>Connect</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>


    
  </ion-tab-bar>
</ion-tabs>



