<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>Contact our customer service</h3>
          service.food.gh@gmail.com
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>For Enquiries and Complaints</h3>
         0306672755
        </div>
      </ion-col>
    
    </ion-row>
  </ion-grid>

</ion-content>